$escala:scale(1.2);


                        .desciption{
                            height: 25px;
                        overflow: hidden;
                        filter: grayscale(1);
                        transition: height .3s ease-in .3s  ;
                        
                        }
                        .desciption:hover{
                            height: 80px;
                        }
                        
                        .card:hover{
                                transform: scale(1.1);
                          
                        
                        }



    
