


.imagenes {
display: flex;
   padding: 2px;
   margin: 22px;

}
.imagenes img {
   margin-left: 50px;

}
.fondocaja{
   background-image: url(https://previews.123rf.com/images/grafner/grafner1502/grafner150200114/36864489-textura-de-madera-r%C3%BAstica.jpg);
}