$colorletras: #4b4848f3;
$tipoletras: "Courier New", Courier, monospace;
$mensaje: "hola a todos";
$colorfondo:rgb(250, 250, 250);
$coloralpaso:#a2a4ab;
$pocicioncentral:center;





.navbar {
    ul {
 list-style-type: none;
 margin: 0;
 padding: 0;
 overflow: hidden;
 background-color: $colorfondo;
     }

  li {
 float: right;
     }
  li:hover {
 transform: scale(1.2);
 }

 li a {
 display: block;
 color: white;
 text-align: center;
 padding: 20px;
 text-decoration: none;
 background-color: $colorfondo;
 }

 li a:hover {
 background-color: $coloralpaso;
  }
}