
$gritar:uppercase;


.sufro {
   text-transform: $gritar;
   padding: 2px;
   border: 4px solid rgb(1, 1, 13);
   color: white;
   background-color: darkslategray;
}
.lavivo{
    text-transform: $gritar;
    padding: 2px;
    border: 4px solid rgb(1, 1, 13);
    color: white;
    background-color: darkslategray;
}
