$ninguno: none;
$position:center;
$colorprincipal: tomato;




.titulo{


    text-decoration: $ninguno;
    text-align: $position;
    color: navy;
    
}
h2{
    text-align: $position;
    text-decoration: $ninguno;
}
.marcas {
    
    text-decoration: $ninguno;
    text-align: $position;
    color: navy;
}