

@use "../scss/componentes/navbar" ;//barra nav 
@use "./componentes/titulo.scss"; //titulo 
@use "./componentes/imagenes.scss"; //imagenes
@use "./componentes/texto";
@use "./componentes/animaciones";

$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px,
  xxl: 1400px
);
.desciption{
    height: 25px;
overflow: hidden;
transition: height .3s ease-in .3s  ;

}
.desciption:hover{
    height: 80px;
}

.card:hover{
        transform: scale(1.1);
  

}





body{
    background-color: white;
}


.bg-colorr{
    background-color:white;
}













